WhosTurn.xcodeproj/xcuserdata/galinosn.xcuserdatad/xcschemes/xcschememanagement.plist
WhosTurn.xcodeproj/project.xcworkspace/xcuserdata/*
.DS_Store
xcschememanagement.plist
*.xcworkspacedata
*.xcuserstate
*.xcscheme
*.xcbkptlist

